.WordControls{
    width: 400px;
    height: 500px;
    min-height: 300px;
    background-color: #c7ebeb8a;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Keyboard {
    width: 380px;
    height: 460px;
    min-height: 300px;
    
    text-align: center;
}
button{
    height: 45px;
    width: 55px;
    border-radius: 10%;
    margin: 5px;

}