.Toolbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
  
    font-size: 2rem;
    color: white;
    background-color: #16dceb8f;
    
    border: solid 1px #3945817c;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
@media (max-width: 549px) {
    .Toolbar nav {
      display: none;
    }
}